<div class="p-grid p-jc-center vertical-container loginContainer">
    <div class="p-col-6">
      <p-card>
        <h3>Demo app</h3>
        <form name="loginform" #loginForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
          <h5>Login</h5>
          <!-- <p>Is "myForm" valid? {{loginForm.valid}}</p>
          <pre>{{loginForm.value | json}}</pre> -->
          <div class="p-field p-grid">
            <label for="firstname3" class="p-col-fixed" style="width:100px"
              >Email</label
            >
            <div class="p-col">
              <input type="text" 
                name="email"
                pInputText 
                required
                [(ngModel)]="loginModel.email"
                #email="ngModel"  />
              <div *ngIf="email.invalid && (email.dirty || email.touched || submitted)"
                class="alert">
                <div class="p-invalid" *ngIf="email.errors?.required">
                  email is required.
                </div>
              </div>
            </div>
          </div>
          <div class="p-field p-grid">
            <label for="lastname3" class="p-col-fixed"  style="width:100px"
              >Password</label
            >
            <div class="p-col">
              <input type="password" 
                pInputText 
                name="password"
                required 
                [(ngModel)]="loginModel.password" 
                #password="ngModel" />
              <div *ngIf="password.invalid && (password.dirty || password.touched || submitted)"
                  class="alert">
                  <div class="p-invalid" *ngIf="password.errors?.required">
                    password is required.
                  </div>
              </div>
            </div>
          </div>
          <div class="p-field p-grid">
            <!-- <p-button  type="submit"  [disabled]="!loginForm.valid" type="submit" [loading]="isLoading" label="Login"  ></p-button> -->
            <p-button  type="submit"  type="submit" [loading]="isloading" label="Login"  ></p-button>
          </div>
        </form>
       
      </p-card>
    </div>
   
</div>

