
<div class="p-fluid">
    <div class="p-field">
        <label for="firstname1">Firstname</label>
        <input id="firstname1" type="text" pInputText> 
    </div>
    <div class="p-field">
        <label for="lastname1">Lastname</label>
        <input id="lastname1" type="text" pInputText> 
    </div>
</div>


<div class="p-grid">
    <div class="p-col-6">6</div>
    <div class="p-col-6">6</div>
    <div class="p-col-6">6</div>
    <div class="p-col-6">6</div>
</div>
<router-outlet></router-outlet>